In [1]:
import numpy as np
import pandas as pd

In [ ]:
with open(r'C:\Users\akhil\Downloads/currencies.txt', 'r') as f:
    contents = f.readlines()                                            #reading lines

In [14]:
contents[0]

0     AUD
1     CHF
2     CNY
3     DKK
4     EUR
5     GBP
6     HKD
7     INR
8     JPY
9     MXN
10    MYR
11    NOK
12    NZD
13    PHP
14    SEK
15    SGD
16    THB
17    CHF
18    CNY
19    DKK
20    EUR
21    GBP
22    HKD
23    INR
24    JPY
25    MXN
26    MYR
27    NOK
28    NZD
29    PHP
30    SEK
31    SGD
32    THB
Name: 0, dtype: object

In [12]:
for i in range(len(contents)):                           #removing spaces and newlines
    contents[i] = contents[i].split('\t')
    contents[i][2] = contents[i][2].replace('\n', '')

In [13]:
contents = pd.DataFrame(contents)
contents

      0           1                   2
0   AUD   1.0345157   Australian Dollar
1   CHF   1.0237414         Swiss Franc
2   CNY   0.1550176        Chinese Yuan
3   DKK   0.1651442        Danish Krone
4   EUR   1.2296544                Euro
5   GBP   1.5550989       British Pound
6   HKD   0.1270207    Hong Kong Dollar
7   INR   0.0177643        Indian Rupee
8   JPY  0.01241401        Japanese Yen
9   MXN   0.0751848        Mexican Peso
10  MYR   0.3145411   Malaysian Ringgit
11  NOK   0.1677063     Norwegian Krone
12  NZD   0.8003591  New Zealand Dollar
13  PHP   0.0233234     Philippine Peso
14  SEK    0.148269       Swedish Krona
15  SGD    0.788871    Singapore Dollar
16  THB   0.0313789        Thai Bahtlar
17  CHF   1.0237414         Swiss Franc
18  CNY   0.1550176        Chinese Yuan
19  DKK   0.1651442        Danish Krone
20  EUR   1.2296544                Euro
21  GBP   1.5550989       British Pound
22  HKD   0.1270207    Hong Kong Dollar
23  INR   0.0177643        Indian Rupee
24  JPY  0.01241401        Japanese Yen
25  MXN   0.0751848        Mexican Peso
26  MYR   0.3145411   Malaysian Ringgit
27  NOK   0.1677063     Norwegian Krone
28  NZD   0.8003591  New Zealand Dollar
29  PHP   0.0233234     Philippine Peso
30  SEK    0.148269       Swedish Krona
31  SGD    0.788871    Singapore Dollar
32  THB   0.0313789           Thai Baht

In [15]:
contents = contents.iloc[:,[0,1]]

In [17]:
for i in range(len(contents)):
    contents[1][i] = float(contents[1][i])

/var/folders/19/26gjj12n2j76yptyvj6ptxmr0000gn/T/ipykernel_46841/3062786887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contents[1][i] = float(contents[1][i])

In [18]:
dict

dict

In [19]:
arr1= np.array(contents.iloc[:,0])              #2 diff array for short form of currency and conversion rate
arr2 = np.array(contents.iloc[:,1])

In [20]:
type(arr2)

numpy.ndarray

In [21]:
dict = {}
for i, j in zip(arr1,arr2):             #key value pairs in dictionary
    dict[i]= j

In [22]:
def exchange(symbol, rate):
    for i in dict:
        if i == symbol:                             #finding the currency
            multiplier = dict[i]
            return(rate*multiplier)

In [26]:
exchange('NZD',100)

80.03591

In [27]:
a = input("Please enter the symbol: ")
b = float(input("Please enter the amount you want to convert: "))

Please enter the symbol: INR
Please enter the amount you want to convert: 10000

In [28]:
print(exchange(a,b))

177.643